<html style="background-color: lightblue;"></html>
<h1 style="padding-left: 450px;">Products that are Coming Soon</h1>

<h3>FRESH CUT FRUIT</h3>
  <a href="" class="list-group-item list-group-item-action">Kiwi</a>
  <a href="" class="list-group-item list-group-item-action">Blueberries</a>

<h3>SPORTING GOODS</h3>
  <a href="" class="list-group-item list-group-item-action">Baseball Glove</a>
  <a href="" class="list-group-item list-group-item-action">Tennis Racket</a>

<h3>OUTDOOR ACCESSORIES</h3>
  <a href="" class="list-group-item list-group-item-action">Volleyball Net</a>
  <a href="" class="list-group-item list-group-item-action">Basketball Goal</a>

<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>